<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
>
<h:head>
    <title>PROJECT MANAGEMENT</title>
    <style type="text/css">
    .reasonButton {
    background-color: #000000 !important;
    color: #FFFFFF !important;
    }
    .TabMenu{
        background-color: #000000 !important;
        color: #FFFFFF !important;
    }

    </style>
</h:head>

<h:body>
    <p:tabMenu activeIndex="#{param.i}">
        <p:menuitem value="Menu" outcome="projectList" icon="pi pi-star">
            <f:param name="i" value="0" />
        </p:menuitem>
        <p:menuitem  value="Projects" outcome="projectList" icon="pi pi-file">
            <f:param name="i" value="1" />
        </p:menuitem>
        <p:menuitem  value="Tasks" outcome="taskList" icon="pi pi-file">
            <f:param name="i" value="2" />
        </p:menuitem>
    </p:tabMenu>
    <br/>
    <h1> PROJECT MANAGMENT</h1>
    <br/>
    <p:dataTable var="project" value="#{projectBean.listAllProject()}">
        <p:column headerText="ID">
            <h:form>
            <h:outputText value="#{project.id}" />
            </h:form>
        </p:column>

        <p:column headerText="NAME">
            <h:form>
            <h:outputText value="#{project.name}" />
            </h:form>
        </p:column>

        <p:column headerText="DESCRIPTION">
            <h:form>
            <h:outputText value="#{project.description}" />
            </h:form>
        </p:column>

        <p:column headerText="STATUS">
            <h:form>
            <h:outputText value="#{project.displayName}" />
            </h:form>
        </p:column>

        <p:column headerText="VIEW">
            <h:form>
            <h:link outcome="viewProject" includeViewParams="true">
                <f:param name="id" value="#{project.id}"/>
                <img src="https://img.icons8.com/material-outlined/100/000000/view.png" width="32" height="32"/>
            </h:link>
            </h:form>
        </p:column>
        <p:column headerText="EDIT">
            <h:form>
            <h:link outcome="editProject" includeViewParams="true">
            <f:param name="id" value="#{project.id}"/>
                <img src="https://img.icons8.com/ios/32/000000/multi-edit.png"/>
            </h:link>
            </h:form>
        </p:column>
        <p:column headerText="DELETE">
            <h:form>
           <h:commandLink action="#{projectBean.removeOneProject(project.id)}">
               <img src="https://img.icons8.com/material-outlined/32/000000/delete.png"/>
           </h:commandLink>
            </h:form>
        </p:column>
    </p:dataTable>
    <p:button outcome="addProject" value="Create project" style="margin-right:20px;">
        <f:param name="productId" value="10" />
    </p:button>
</h:body>
</html>