<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:fmt="http://java.sun.com/jsp/jstl/fmt">
<h:head>
    <title>TASK VIEW</title>
</h:head>
<h:body>
    <f:metadata>
        <f:viewParam name="id" value="id"/>
    </f:metadata>

    <h1> #{taskBean.getTaskById(id).name}</h1>

    <p:dataTable var="task" value="#{taskBean.getTaskById(id)}">
        <p:column headerText="ID">
            <h:outputText value="#{task.id}" />
        </p:column>
        <p:column headerText="PROJECT ID">
            <h:outputText value="#{task.projectId}" />
        </p:column>

        <p:column headerText="NAME">
            <h:outputText value="#{task.name}" />
        </p:column>

        <p:column headerText="DESCRIPTION">
            <h:outputText value="#{task.description}" />
        </p:column>
        <p:column headerText="DATE ADD">
            <h:outputText value="#{task.dateAdd}" />
        </p:column>
        <p:column headerText="DATE START">
            <h:outputText value="#{task.dateStart}" />
        </p:column>
        <p:column headerText="DATE FINISH">
            <h:outputText value="#{task.dateFinish}" />
        </p:column>
        <p:column headerText="STATUS">
            <h:outputText value="#{task.displayName}" />
        </p:column>
    </p:dataTable>
    <p:button outcome="taskList" value="Back" style="margin-right:20px;">
        <f:param name="productId" value="10" />
    </p:button>
</h:body>
</html>