<html xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:p="http://primefaces.org/ui"
             xmlns:c="http://java.sun.com/jsp/jstl/core"
             xmlns:fmt="http://java.sun.com/jsp/jstl/fmt">
<h:head>
    <title>PROJECT VIEW</title>
</h:head>
<h:body>
    <f:metadata>
        <f:viewParam name="id" value="id"/>
    </f:metadata>

    <h1> #{projectBean.findOneProjectById(id).name}</h1>

    <p:dataTable var="project" value="#{projectBean.findOneProjectById(id)}">
        <p:column headerText="ID">
            <h:outputText value="#{project.id}" />
        </p:column>

        <p:column headerText="NAME">
            <h:outputText value="#{project.name}" />
        </p:column>

        <p:column headerText="DESCRIPTION">
            <h:outputText value="#{project.description}" />
        </p:column>
        <p:column headerText="DATE ADD">
            <h:outputText value="#{project.dateAdd}" />
        </p:column>
        <p:column headerText="DATE START">
            <h:outputText value="#{project.dateStart}" />
        </p:column>
        <p:column headerText="DATE FINISH">
            <h:outputText value="#{project.dateFinish}" />
        </p:column>
        <p:column headerText="STATUS">
            <h:outputText value="#{project.displayName}" />
        </p:column>
    </p:dataTable>
    <p:button outcome="projectList" value="Back" style="margin-right:20px;">
        <f:param name="productId" value="10" />
    </p:button>
</h:body>
</html>